<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Concentrados Puente Tierra
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Concentrados Puente Tierra</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content class="ion-padding">
  <div class="ion-padding">
<ion-button id="present-alert">Alerta de prueba</ion-button>
<ion-alert
  trigger="present-alert"
  header="Esta es una alerta de prueba"
  subHeader="Subtítulo de la alerta"
  message="Este es el mensaje de la alerta. Puedes personalizarlo según tus necesidades."
  [buttons]="alertButtons"
></ion-alert>
</div>
</ion-content>
</ion-content>
